<h1>$project.getTitle()</h1>


<form action="/project/$project.getId()/update" method="post">
    <p>
        <label>Title</label><br/>
        <input type="text" name="title" value="$project.getTitle()" />
    </p>
    <p>
        <input type="submit" value="Update Project" />
    </p> 
</form>
    