<h1>Projects</h1>

<ul>
    #foreach($project in $projects)
        <li>
            <a href="/project/$project.getId()">$project.getTitle()</a>
            <a href="/project/$project.getId()/edit"> [Edit]</a>
            <a href="/project/$project.getId()/delete"> [Delete]</a>
        </li>
    #end
</ul>

<a href="/project/new">Add New</a>

