<h1>Add New</h1>

<%= form_for @project do |f| %>

<form action="/project/create" method="post">
    <p>
        <label>Title</label><br/>
        <input type="text" name="title"/>
    </p>
    <p>
        <input type="submit" value="Create Project" />
    </p> 
</form>

<p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
  <% if @project.errors.any? %>
  <%= @project.errors.messages[:title][0] %>
  <% end %>
</p>

<p>
  <%= f.submit %>
</p>

<% end %>