<h1>Add New</h1>

<form action="/project/create" method="post">
    <p>
        <label>Title</label><br/>
        <input type="text" name="title"/>
    </p>
    <p>
        <input type="submit" value="Create Project" />
    </p> 
</form>

