<h1>$project.getTitle()</h1>

<ul>
    #foreach($task in $tasks)
        <li>
            <input type="checkbox" />
            $task.getTitle()
                <a href="/project/$project.getId()/task/$task.getId()/delete"> [Delete] </a>
            <!-- リンクをクリックしたときにダイアログを出すのはjavascriptで実装する-->
        </li>
    #end
    <li>
        <form action="/project/$project.getId()/newtask" method="post">
            <input type="text" name="title" >
            <input type="submit">
        </form>
    </li>
</ul>
<ul>
