<h1>$project.getTitle()</h1>

<ul>
    #foreach($task in $tasks)
        <li>
            <input type="checkbox" />
            $task.getTitle()
            <a href="/"> [Delete] </a>
            <!-- リンクをクリックしたときにダイアログを出すのはjavascriptで実装する-->
        </li>
    #end
    <li>
        <form action="/project/$project.getId()/newtask" method="post">
            <input type="text" name="title" >
            <input type="submit">
        </form>
    </li>
</ul>
<ul>
<% @project.tasks.each do |task| %>
<li>
    <%= check_box_tag "", "", task.done, {'data-id' => task.id, 'data-project_id' =>task.project_id} %>
    <%= task.title %>
    <%= link_to "[Delete]", project_task_path(task.project_id, task.id),
         method: :delete, data: { confirm: "are you sure?" } %>

</li>
<% end %>

<!-- タスクの新規作成ボタンを作るところ(タイトルを記入するとできる) -->
<li>
    <%= form_for [@project, @project.tasks.build] do |f| %>
    <%= f.text_field :title %>
    <%= f.submit %>
    <% end %>
</li>
</ul>

<script>
//$(function() {
//    $("input[type=checkbox]").click(function() {
//        $.post('/projects/'+$(this).data('project_id')+'/tasks/'+$(this).data('id')+'/toggle');
//    }); 
//});
</script>